*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(236, 209, 126);
    
}

body {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

.about-img{
    float: left;
     margin-bottom:10px;
    
}

.about-hobbies {
    margin-top: 10px;
}

.Hobbies01 {
    margin: 20px;
}
#ai {
    float: left;    
     margin: 0 15px 0 0;


}


.para02 {
    margin-top: 10px;

}
#ai01 {
    float: left;
     margin-top: 10px;
     margin-bottom: 10px;
}

#ai03 {
    float: left;
     margin-top: 20px;
}

#id04 {
    text-align: none;
}
#id05 {
    text-align: left;
}
